<div class="container card">
  <div class="row">
    <div class="col-4 text-center">
      <h3>Profil</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Nom: {{client?.nom}}</p>
    </div>
    <div class="col-6">
      <p>Prenom: {{client?.prenom}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Adresse: {{client?.adresse}}</p>
    </div>
    <div class="col-6">
      <p>Telephone: {{client?.telephone}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Email: {{client?.email}}</p>
    </div>
    <div class="col-6">
      <p>Mot de passe: {{client?.password}}</p>
    </div>
  </div>

<button>Modifier Profil</button>

</div>