
  
  <div class="container heder">
    <div class="row">
      <div class="col titre">
        <h2>Welcome to Pharmacy</h2>
      </div>


    </div>
  </div>
 <!-- contact -->
 <section class="section" id="#contact">
   <div class="container">
     <div class="row">
       <div class="col">
        
       </div>
     </div>
   </div>
 </section>



  <!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
    </div>
  </div>
</footer>