<div class="card">
  <div class="container">
    <div class="row">
      <div class="col text-center titre">
        <h2> Register Pharmacie</h2>
        <hr>
      </div>
    </div>
  </div>
  <form [formGroup]="formpharmacie">
    <div class="form-row">
      <div class="form-group col">
        <input type="text" class="form-control" formControlName="nom" placeholder="Nom">
      </div>
      <div class="form-group col">
          <input type="text" class="form-control" formControlName="telephone" placeholder="Telephone">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group col">
          <input type="password" class="form-control" formControlName="password" placeholder="Mot De Passe">
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-12">
        <input type="text" class="form-control" formControlName="adresse" placeholder="Adresse">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col text-center">
          <button class="btn btn-success" (click)="register()">Register</button>
        </div>
      </div>
  </form>
</div>